<div class="">
    <div class="row justify-content-center">
        <div class="col-sm-6">
            <div class="card">

            
                <form class="form card-body">
                    <div class="form-group row">
                        <label for="name" class="form-label col-md-4">{{ 'FORM.LABEL.NAME' | translate }}</label>
                        <div class="col-md-8">
                            <input id="name" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="category" class="form-label col-md-4">{{ 'FORM.LABEL.CATEGORY' | translate}}</label>
                        <div class="col-md-8">
                            <select name="category" id="category" class="form-control">
                                <option>Default</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>