/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;

  height: 100%;
}
@import "./app/bootstrap/bootstrap";

.container-fluid {
  padding: 0;
  height: 100% ;
}

.navigation {
  height: 100vh;
  position: fixed;
  background-color: lightblue;
}